<?xml version="1.0" encoding="utf-8" ?>
<!-- https://logging.apache.org/log4net/release/config-examples.html -->
<log4net>
  <!-- CONSOLE 01 -->
  <appender name="sample_A" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="sample_A: %-5level[%thread] (%logger) %date : %message %newline" />
    </layout>
  </appender>

  <!-- CONSOLE 02 -->
  <appender name="sample_B" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="sample_B: %-5level[%thread] (%logger) %date : %message %newline" />
    </layout>
  </appender>
  
  <!-- FILE -->
  <appender name="file_sample" type="log4net.Appender.RollingFileAppender">
    <file value="logs\log-file.txt" />
    <appendToFile value="true" />
    <maximumFileSize value="1MB" />
    <maxSizeRollBackups value="2" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level[%thread] (%logger) %date : %message %newline" />
    </layout>
  </appender>

  <!-- Add all appender.name! -->

  <root>
    <level value="INFO"/>
  </root>

  <logger name="Logger_Sample_A" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="sample_A"/>
    <appender-ref ref="file_sample"/>
  </logger>

  <logger name="Logger_Sample_B" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="sample_B"/>
    <appender-ref ref="file_sample"/>
  </logger>
  
</log4net>